* {
  border: solid 1px black;
}

.App {
  text-align: center;
}

.app-logo {
  height: 65px;
  width: auto;
}

.app-header {
  background-color: #282c34;
  height: 70px;
  width: 100vw;
  display: block;
  font-size: calc(10px + 2vmin);
  color: white;
}
