@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/*--- Contenedor principal ---*/
.login {
  width: 400px;
  padding: 12px 10px;
  border-radius: 8px;
  overflow-y: hidden;
  background: #ffffff;
  box-shadow: 0px 8px 12px 2px rgba(117, 54, 36, 0.35);
}

.login .container-header {
  display: flex;
  padding: 8px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

/*--- Logo ---*/

.container-header .logo {
  display: flex;
  padding: 4px 120px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 100px;
  height: 100px;
}

/*--- Contenedor de los textos ---*/
.container-header .container-text {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.container-text h1 {
  color: #000;
  text-align: center;
  font-family: "Nunito";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-text p {
  color: #000;
  text-align: center;
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*--- Contenedor de los campos de entrada ---*/
.login .container-body {
  display: flex;
  padding: 8px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.container-body .input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.input-box label {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-box input {
  display: flex;
  height: 40px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border: none;
  outline: none;
  align-self: stretch;
  font-size: 17px;
  border-radius: 8px;
  background: rgba(85, 85, 85, 0.21);
  font-family: Poppins;
}

.container-body .forgot {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.forgot a {
  color: #4f4e4e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.forgot a:hover {
  text-decoration: underline;
}

/*--- Contenedor del boton de inicio de sesion ---*/
.login .container-bottom {
  display: flex;
  padding: 16px 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 50px;
}

.container-bottom button {
  display: flex;
  padding: 8px 10px;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: var(--0, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 10px;
  background: #753624;
  cursor: pointer;
}

.container-bottom .register-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.register-link p {
  font-family: Nunito;
  font-weight: 500;
  color: #4f4e4e;
}

.register-link p a {
  color: #753624;
  text-align: center;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.register-link p a:hover {
  text-decoration: underline;
}

/*--- Mensaje de error ---*/
.error {
  color: #dc3545;
  font-size: 15px;
}
